.header {
  background-color:#8DF3FD;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
}

.header__left {
  display: flex;
  align-items: center;
}

.header__input {
  display: flex;
  align-items: center;
}

.header__right {
  display: flex;
  align-items: center;
  gap: 20px;
}
